@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/slick-carousel/slick/slick.scss';
@import url(../fonts/fonts-bold.css);
@import url(../fonts/fonts-light.css);
@import url(../fonts/fonts-reg.css);

body{
  padding: 0;
  margin: 0;
  font-family: 'Conv_Ubuntu-R';
}

.btnx{
  box-shadow: 0 14px 20px -16px rgba(0, 0, 0, 0.2), 0 14px 6px -8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  color: #ff4949;
  border: none;
  font-family: 'Conv_Ubuntu-B';
  letter-spacing: 0.88px;
  font-size: 13px;
  padding: 10px 30px;
}

.regist{
  box-shadow: 0 14px 20px -10px rgba(255, 73, 73, 0.5);
  background-color: #ff4949;
  background-image: url(../images/icon-chevron-right.png);
  background-position: 90% center;
  background-repeat: no-repeat;
  border: none;
  color: #fff;
  letter-spacing: 0.88px;
  font-size: 14px;
  width: 200px;
  padding: 10px 20px;
}

.btn-red{
  box-shadow: 0 14px 20px -10px rgba(255, 73, 73, 0.5);
  background-color: #ff4949;
  color: #fff;
  border: none;
  padding: 10px 30px;
  font-size: 14px;
}

.search-cols{
  position: relative;
  .txt-search{
    color: #fff;
    cursor: pointer;
  }
  .search-form{
    display: none;
    position: absolute;
    width: 170px;
    left: -110px;
    top: 30px;
  }
}

.column-slides{
  .multiple-items{
    .img{
      transform: scale(0.9);
      margin: 0 -10px;
    }
    .slick-current{
      transform: scale(1);
      position: relative;
      z-index: 1;
    }
  }
}

#wrapper{
  overflow: hidden;
}

#header{
  z-index: 1;
  .head-desktop{
    background: url(../images/layer-banner.png) no-repeat; 
    background-position-x: right;
    min-height: 834px;
    position: relative;
    .column{
      padding: 20px;
    }
    .menus{
      ul{
        padding: 0;
        margin: 0;
        li{
          list-style: none;
          display: inline-block;
          text-transform: capitalize;
          margin-right: 25px;
          position: relative;
          &:hover{
            .sub-menu{
              display: block;
            }
          }
          a{
            color: #fff;            
          }
          .sub-menu{
            background: #d33a36;
            display: none;
            position: absolute;
            z-index: 1;
            left: 0;
            width: 150px;
            li{
              font-size: 13px;
              display: block;
              width: 100%;
              a{
                padding: 10px;
                display: block;
                text-decoration: none;
                &:hover{
                  background: #ff4949;
                }
              }
            }
          }
        }
      }
    }
    .second-column{
      color: #fff;
      padding-top: 10%;
      .logo-dtc{
        position: relative;
        img{
          position: absolute;
          right: 0;
          top: -100px;
        }
      }
      .column-txt{
        .title{
          font-size: 68px;
          font-family: 'Conv_Ubuntu-L';
          text-transform: uppercase;
        }
        .subtitle{
          font-family: 'Conv_Ubuntu-B';
        }
        .btnx{
          margin-top: 30px;
        }
      }
    }
  }
  .head-mobile{
    background: url(../images/layer-banner.png) no-repeat; 
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 870px;
    .colum{
      .navbar{
        background: transparent !important;
      }
    }
    .second-colum{
      color: #fff;
      .logo-dtc{
        img{
          width: 100px;
        }
      }
      .up{
        margin-top: -50px;
        img{
          width: 200px;
          margin-right: 20px;
        }
      }
      .column-txt{
        .subtitle{
          font-size: 21px;
        }
        .btnx{
          margin-top: 10px;
        }
      }
    }
  }
}

#main{
  .bg-pink{
    position: relative;
    &::before{
      position: absolute;
      content: '';
      background: url(../images/bg-miring.png) no-repeat center;
      width: 100%;
      height: 800px;
      height: 800px;
      top: -230px;
    }
    .title{
      color: #1c2e36;
      font-size: 38px;
      font-family: 'Conv_Ubuntu-B';
      text-transform: capitalize;
    }
    .desc{
      color: #4b5151;
    }
  }
}

.column-about{
  margin-bottom: 200px;
  .columns{
    @include media-breakpoint-down(sm){
      margin-bottom: 20px;
    }
    .img{
      border: 1px solid #d33a36;
      background: #fff;
      border-radius: 50%;
      height: 100px;
      width: 100px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    .name{
      margin: 20px;
      color: #d33a36;
      font-family: 'Conv_Ubuntu-B';
    }
    .desc{
      color: #4b5151;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.main-two-column{
  .txt-column{
    .title{
      color: #d33a36;
      font-family: 'Conv_Ubuntu-B';
      font-size: 21px;
      position: relative;
      padding-bottom: 10px;
      margin-bottom: 20px;
      &::before{
        content: '';
        position: absolute;
        background-color: #ff4949;
        height: 2px;
        width: 20px;
        bottom: 0;
      }
    }
    .desc{
      color: #4b5151;
    }
  }
}

#video-wrapper{
  background-color: #444140;
  color: #fff;
  .title{
    font-family: 'Conv_Ubuntu-B';
    font-size: 38px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
    &::before{
      content: '';
      position: absolute;
      background-color: #ff4949;
      height: 2px;
      width: 20px;
      bottom: 0;
    }
  }
  .desc{
    opacity: 0.7;
  }
  .video{
    @include media-breakpoint-down(sm){
      padding: 10px !important;
      margin: 0 !important;
    }
    .embed-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;
    
      iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

#gallery{
  .title{
    font-family: 'Conv_Ubuntu-B';
    font-size: 38px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
    &::before{
      content: '';
      position: absolute;
      background-color: #ff4949;
      height: 2px;
      width: 20px;
      bottom: 0;
    }
  }
  .desc{
    color: #4b5151;
  }
  .nav-tabs{
    .nav-item{
      margin-bottom: 1px;
      margin-right: 50px;
      @include media-breakpoint-down(sm){
        margin-right: 0;
      }
      .nav-link{
        border: none;
        position: relative;
        color: #8d9595;
        &.active{
          color: #4b5151;
          &::before{
            content: '';
            position: absolute;
            background-color: #ff4949;
            height: 2px;
            width: 20px;
            bottom: -2px;
            margin: auto;
            left: 0;
            right: 0;
          }
        }
      }
    }
  }
}

#dampak-sosial{
  background-color: #fef8f6;
  background-image: url(../images/bg-people.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  .title{
    color: #1c2e36;
    font-size: 38px;
    font-family: 'Conv_Ubuntu-B';
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-color: #ff4949;
      height: 2px;
      width: 20px;
      bottom: 0;
    }
  }
  .colom-uang{
    position: relative;
    background-color: #ffeaea;
    color: #ff4949;
    padding-left: 14%;
    @include media-breakpoint-down(sm){
      padding-left: 26% !important;
      font-size: 11px;
      padding-right: 10px !important;
    }
    .uang{
      position: absolute;
      left: 0;
      top: -15px;
      @include media-breakpoint-down(sm){
        top: 0px;
        width: 73px;
      }
    }
  }
}

.learn-more{  
  .column{
    border-top: 1px solid #ccc;
    .arrow{
      background: url(../images/android-arrow-forward.png) no-repeat right;
    }
  }
}

#footer{
  background-color: #444140;
  color: #fff;
  font-size: 14px;
  .column{
    .desc{
      font-size: 14px;
    }
    .head-title{
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        background-color: #ff4949;
        height: 2px;
        width: 20px;
        bottom: 0;
      }
    }
    .list-column{
      .list{
        border-bottom: 1px solid rgba(159, 159, 159, 0.43);
        &:last-child{
          border: none;
        }
      }
    }
    .date{
      font-size: 12px;
      opacity: 0.7;
    }
    .title{
      a{
        color: #fff;
      }
    }
    .author{
      font-size: 12px;
      span{
        color: #ff4949;
      }
    }
    .sosmed{
      margin-top: 20px;
      ul{
        padding: 0;
        margin: 0;
        li{
          list-style: none;
          display: inline-block;
          font-size: 18px;
          margin-right: 20px;      
          a{
            color: #6d7278;
            opacity: 0.85;
            &:hover{
              opacity: 1;
            }
          }
        }
      }
    }
    .form{
      margin-top: 75px;
      @include media-breakpoint-down(sm){
        margin-top: 25px;
      }
      h6{
        margin-bottom: 0;
      }
      p{
        opacity: 0.7;
        font-size: 11px;
        margin-bottom: 10px;
      }
      input{
        border-radius: 2px;
        background: none;
      }
    }
  }
}

#bottom{
  background-color: #1e1e24;
  color: #fff;
  font-size: 14px;
  .column{
    span{
      color: #ff4949;
    }
    ul{
      padding: 0;
      margin: 0;
      li{
        text-transform: capitalize;
        list-style: none;
        display: inline-block;
        margin-right: 20px;
        a{
          color: #fff;
        }
      }
    }
  }
}